@model IEnumerable<CaseStudy.Models.EntityListViewModel>

@{
    ViewBag.Title = "getlist";
}

<h2>getlist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>PaymentAmount</th>
        <th>InvoiceAmount</th>
    </tr>  
@foreach (var item in Model) {
    <tr>
        <td>
          @item.Payments.PaymentAmount
            @item.Invoices.InvoiceAmount
        </td>
    </tr>
}

</table>
